<%- include templates/header.ejs %>
<!--init-->
      <!-- boddy style -->
      <script defer src="../javascripts/face-api.min.js"> </script> 
      <script defer src="../../javascripts/secuence.js" allow="microphone;"> </script> 
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script>
        const requiUser="<%= requiUser %>";
        const idUser="<%= idUser %>";
        const preguntasList="<%= preguntasList %>"
      </script>
      
  <body class="text-center text-bg-dark helv" >
    
    <div id="body_" class="cover-container d-flex p-0 mx-auto flex-column justify-content-md-center">
      <div class="container-fluid">
    <div class="row justify-content-md-center">
        <div id="container_video" class="col-md">
          
            <div id="cotainer_video">
                <video id="video_"   autoplay muted width="440" >No puede cargar el video :c </video>
            </div>  
            
        </div>
        
        <div class="col-md text-dark container-fluid" id="divicionDerecha" style="background-color: rgb(240, 240, 240) ;">
          
          <!-- navbar -->
          <header id="header_" class="mb-auto">
            <div id="header_">
              <h3 class="float-md-start mb-0 icons">HQ5</h3>
                <div class="container-fluid">
                  <ul class="nav justify-content-center float-md-end">
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="./">Consejos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="./empezar">Empezar</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="./contacto">Contacto</a>
                    </li>
                  </div>    
                  </ul>
            </div>
          </header>
          <!---->
          <main>
            <div class="text-justify center_ col" > <img id="recGif"  src="/images/rec.gif" width="60px"> 
          <div class="text-justify center_ col d-flex justify-content-center align-items-center" style="flex-direction:column">
            
            <div id="alertas" class="alert alert-danger" role="alert"><%= alerta %></div>
            <img id="loadImg" src="/images/loading.gif" width="200px">
            <div class="">
            <p id="pregunta_txt"><%= txt_content %></p>
            <p id="testConsole">aaaa</p>
          </div>
          <div>
            <p id="timer"></p>
          </div> 
            <div>
            
          <div  id="next_bttn" class="btn btn-lg btn-info text-light"><%= bttn %></div>  
        </div>   
        <div ><img id="mic" class="my-3" src="/images/microphone.png" width="60px"></div>
        </div>
      </div>
          <!-- <script defer src="./javascripts/deteccionRostro.js"> </script>  -->
        </div>
        </div>
      </div>
  
  </div>
  </main>
  </body></html>